@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --white-- : hsl(0, 0%, 100%);
    --light_grey-- : hsl(212, 45%, 89%);
    --grayish_blue-- : hsl(220, 15%, 55%);
    --dark_blue-- : hsl(218, 44%, 22%);
}

*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: var(--light_grey--);
    height: 100vh;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: var(--white--);
    width: 375px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px var(--light_grey--);
}

.title, p{
    text-align: center;
}
.title{
    margin-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;
}
p{
    font-size: 15px;
    padding-right: 50px;
    padding-left: 50px;
    color: var(--grayish_blue--);
}

img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}